<nav>
    <ul class="nav-menu">
        <li><NavLink href="/events">Events</NavLink></li>
        <li><NavLink href="/event-details">Event Details</NavLink></li>
        <li><NavLink href="/register">Register</NavLink></li>
    </ul>
</nav>